
{% load static %}
<footer class="footer-custom">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <h4>NM Collections</h4>
                <p>Tu plataforma integral para productos únicos, subastas, NFTs y experiencias gamificadas.</p>
                <div class="social-links">
                    <!-- <a href="#"><i class="fab fa-facebook"></i></a> -->
                    <a href="https://www.instagram.com/nmcollections.4/"><i class="fab fa-instagram"></i></a>
                   <!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
                </div>
            </div>
            
            <div class="footer-section">
                <h5>Productos</h5>
                <ul>
                    <li><a href="{% url 'core:catalogo' %}">Catálogo</a></li>
                    <li><a href="{% url 'personalizacion:perfil_cartas' %}">Personalizados</a></li>
                    <li><a href="#">Digitales</a></li>
                </ul>
            </div>
            
            <div class="footer-section">
                <h5>Servicios</h5>
                <ul>
                    <li><a href="{% url 'subastas:subasta' %}">Subastas</a></li>
                    <li><a href="#">NFT</a></li>
                    <li><a href="#">Juegos</a></li>
                </ul>
            </div>
            
            <div class="footer-section">
                <h5>Soporte</h5>
                <ul>
                    <li><a href="#">Ayuda</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
        </div>
        
        <div class="footer-bottom">
            <p>&copy; 2025 NM Collections. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>